<div class="card-columns my-5 animated fadeIn">
    <div class="card puntero" *ngFor="let item of items" (click)="verArtista(item)">
        <img class="card-img-top" [src]="item.images | sinfoto" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">{{ item.name }}</h5>
            <p class="card-text">
                <span *ngFor="let artista of item.artists" class="badge badge-pill badge-primary">{{artista.name}}</span>
            </p>
        </div>
    </div>
</div>